<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Datos principales</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Codigo:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p>
                            <strong data-ng-bind="view.productoDB.codigo"></strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Denominacion:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p>
                            <strong data-ng-bind="view.productoDB.denominacion"></strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Moneda:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p>
                            <strong data-ng-bind="view.productoDB.moneda"></strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Tipo persona:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p>
                            <strong data-ng-bind="view.productoDB.tipoPersona"></strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Monto minimo:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p>
                            <strong data-ng-bind="view.productoDB.montoMinimo | currency: ''"></strong>
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Monto maximo:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p>
                            <strong data-ng-bind="view.productoDB.montoMaximo | currency: ''"></strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Estado:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p>
                            <strong data-ng-bind="view.productoDB.estado | si_no : 'activo' | uppercase"></strong>
                        </p>
                    </div>
                </div>
                <button type="button" ui-sref="^.datosPrincipales" class="btn btn-default">Editar</button>
            </div>
        </div>

    </div>
    <div class="col-sm-6">

    </div>
</div>