<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title">Buscar productos</h1>
        <p class="description">Productos activos en el sistema.</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Resultado de busqueda</h3>

        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">–</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" data-toggle="remove">
                ×
            </a>
        </div>
    </div>
    <div class="panel-body">
        <form name="form" data-ng-submit="search()" novalidate>
            <div class="sg-grid-top-panel">
                <div class="row">
                    <div class="col-sm-3">
                            <div class="form-group" data-ng-class="{ 'validate-has-error' : form.tipoPersona.$invalid && (form.$submitted)}">
                                <div class="input-group">
                                    <ui-select name="tipoPersona" data-ng-model="combo.selected.tipoPersona" required autofocus>
                                        <ui-select-match placeholder="Sucursal">{{$select.selected.denominacion}}</ui-select-match>
                                        <ui-select-choices repeat="item in combo.tipoPersona | filter: $select.search">
                                            <div data-ng-bind-html="item.denominacion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn"><button type="submit" class="btn btn-white"><span class="glyphicon glyphicon-search"></span></button></span>
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="filterText" class="form-control" data-ng-model="filterOptions.filterText" placeholder="Denominacion">
                                <span class="input-group-btn"><button class="btn btn-white" type="submit"><i class="fa-search"></i></button></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group pull-right">
                            <button type="button" data-ng-click="nuevo()" class="btn btn-primary">Nuevo</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div ui-grid="gridOptions" external-scopes="gridActions" ui-grid-selection class="grid"></div>
    </div>
</div>